#myNum{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btnContainer{
    display: block;
    text-align: center;
    position: relative;
}

.btns{
    padding: 10px 20px;
    font-size: 1.5em;
    color: whitesmoke;
    background-color: darkolivegreen;
    margin: 10px;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
}

button:hover{
    background-color: darkseagreen;
}
